* {
	margin : 0;
	outline : 0;
	padding : 0;
}


input {
	display: block;
	width: 120px;
	margin: 10px;
}

#left, .right{
 float:left;
 display:inline-block;
}
.right {
	padding: 20px;
	height: 150px;
	position: relative;
	font-weight: bold;
	font-size: 16px;
	font-family: monospace;
}

.actions {
	width: 150px;
}

table {
	margin: auto;
}

h1 {
	font-size : 24px;
	font-weight : normal;
	margin : 0 0 10px 0;
	text-shadow : 0 1px 0 #ffffff;
}

div#wrapper {
	margin : 25px auto 25px auto;
}

div.image-decorator {
	display : inline-block;
	padding : 5px 5px 5px 5px;
	position: relative;
	margin-bottom: 10px;
}
