<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {%load static from staticfiles%}
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
    <script type = "text/javascript" src = "{%static 'js/jquery.js'%}"></script>
    <script type = "text/javascript" src = "{%static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <style>
      .errorlist{
        color:red;
      }
    </style>
</head>
<body>
{%block main_block%} 

{%endblock%}
</body>
</html>
