{%extends "base.html"%}

{%block main_block%}
<h1><center>Create Template format</center></h1>
<form class = "form-horizontal col-sm-12 col-md-offset-4 col-lg-4 col-md-offset-4 col-lg-offset-4 col-xs-12" action = "{{request.path}}" method="post" style = "margin-top:50px;">
  {%csrf_token%}
  <p style = "color:red">{{errors}}</p>
  {{form.as_p}}
  <center><input type = "submit" value = "Create Template Format" class = "btn btn-primary col-sm-12"/></center>
</form>
<p>
<a href="{%url 'create-category'%}">Create New Category</a>
</p>
<script>
$(document).ready(function(){
	var search_query = window.location["search"].split("&")
    var category = "";
    var template_name = "";
    if (search_query.length == 1 && search_query[0] == "")
    {
     console.log("No search query");
    }
    else{
     console.log("els");
     category = search_query[0].split("=")[1];
     console.log(category);
    }
	$("#id_category").val(category);
});
</script>
{%endblock%}
