{%extends "base.html"%}
{%block head%}
   <title>Demo Select Areas</title>
   <link href="/static/css/example.css" media="screen" rel="stylesheet" type="text/css" />
   <link href="/static/css/jquery-select-areas/jquery.selectareas.css" media="screen" rel="stylesheet" type="text/css" />
   <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
   <!--[if lte IE 8]>
      <link href="css/jquery-select-areas/jquery.selectareas.ie8.css" media="screen" rel="stylesheet" type="text/css" /> 
   <![endif]-->
   <script type = "text/javascript" src = "/static/js/base.js"></script>
   <script type = "text/javascript" src = "/static/bootstrap/js/bootstrap.min.js"></script>
   <script type = "text/javascript" src = "/static/js/jquery-panzoom/jquery.panzoom.js"></script>
   <script type = "text/javascript" src = "/static/js/jquery-select-areas/jquery.selectareas.js"></script>
{%endblock%}
{%block main_block%}
   <div id="left">
    <section class="parent" style="overflow: hidden; position:relative" id = "focal">
        <div class="panzoom image-decorator" style=" cursor: move; transition: none;">
            <img src="/media/{{document.document}}" id = "example">
        </div>
      <script>
        (function() {
          var zoom_level = 0;
          var $section = $('#focal');
          var $panzoom = $section.find('.panzoom').panzoom();
          $panzoom.parent().on('mousewheel.focal', function( e ) {
            e.preventDefault();
            var delta = e.delta || e.originalEvent.wheelDelta;
            var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
            zoom_level += 1;
//            console.log(zoom_level);
            $panzoom.panzoom('zoom', zoomOut, {
              increment: 0.1,
              focal: e, 
            });
          });
        })();
      </script>
    </section>
   </div>
   <div class = "right">
       <table class="table table-striped">
           <tr>
               <th>A</th>
               <th>C</th>
            </tr>
       </table>
       <table class="table table-striped" class = "output" id = "output">
       </table>
   </div>
{%endblock%}
