{%extends "base.html"%}
{%block head%}
<title>Demo Preview Selection</title>
{%include "initialize_variables_and_functions.html"%}


{%include "document_selector_static_files.html" %}
  
<script type = "text/javascript" >
  {%include "javascript_document_preview.html"%}
</script>
{%endblock%}
{%block main_block%}
   <div id="left" class = "col-sm-12 col-md-6 col-xs-12 col-lg-6">
    <section class="parent" style="overflow: hidden; position:relative" id = "focal">
        <div class="panzoom image-decorator" style=" cursor: move; transition: none;">
            <img src="/media/{{document.document}}" id = "example">
        </div>
      <script>
        (function() {
          //function controlling the zoom on the image
          var zoom_level = 0;
          var $section = $('#focal');
          var $panzoom = $section.find('.panzoom').panzoom();
          $panzoom.parent().on('mousewheel.focal', function( e ) {
            e.preventDefault();
            var delta = e.delta || e.originalEvent.wheelDelta;
            var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
            zoom_level += 1;
            $panzoom.panzoom('zoom', zoomOut, {
              increment: 0.1,
              focal: e, 
            });
          });           
        })();
      </script>
    </section>
   </div>
   <div class = "right" class = "col-sm-12 col-md-6 col-xs-12 col-lg-6">
       <label for="elements_available">Create new element</label>
       <select id="elements_available" name="" class = "dropdown form-control" style = "">
       </select>
       <select id="elements_used" name="" class = "dropdown form-control" style = "display:none">
       </select>
       <table class="table table-striped" class = "output" id = "output" style = "margin-top:30px">
       </table> 
       <button type = "button" class = "btn btn-primary" id = "submit">Update Selection</button>
   </div>
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Update Element Name</h4>
        </div>
        <div class="modal-body" style = "height:150px;">
          <input type = "hidden" name = "variable_id" id = "variable_id" class = "form-control">

          <p>
            <label for="variable_name">Enter Element Name:</label>
            <input type = "text" name = "variable_name" id = "variable_name" class = "form-control">
          </p>
          <p>
            <button type = "button"  class = "btn btn-primary col-sm-4" id = "save_element">Update Element Name
            </button>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
   </div>
   

   <script type = "text/javascript">

    
   
   </script>
{%endblock%}
