{%extends "base.html"%}
{%block head%}
  <title>Demo Select Areas</title>
  <script type = "text/javascript" >
        //initialise elements_available from the elements that exist for the 
        //template of given document
        var elements_available =  [  {%for element in elements%} "{{element.element_name}}" {%if not forloop.last%},{%endif%} {%endfor%}     ];
        //initialise other variables
        var elements_used = [];
        var element_rectangle = {};
        var boxes_count = 0;
        localStorage.setItem("boxes_count", boxes_count);    
  </script>

  {%include "document_selector_static_files.html" %}
  
  <script type = "text/javascript" >
    $(document).ready(function(){
      $(document.body).on("click",".select-areas-background-area", function(event){
        var box_id = $(this).attr("id");
        console.log(" selected " + box_id);
        $("#" + box_id + "ry").css("background-color", "red");

      })
        //create the first rectangle_box
        var areaOptions = {
                x: Math.floor((Math.random() * 200)),
                y: Math.floor((Math.random() * 200)),
                width: Math.floor((Math.random() * 100)) + 50,
                height: Math.floor((Math.random() * 100)) + 20,
            };
        //call the function to initialise the rectangle_box with areaOptions
        $('img#example').selectAreas('add', areaOptions);
        $("#save_element").click(function(){
            var element_id = $("#variable_id").val();
            var element_new_name = $("#variable_name").val();
            console.log("new name  = ",element_new_name);
            if (element_new_name == null){}
            else{
              $("#"+element_id).html(element_new_name);
              console.log("Element Re");
              if(key_name == null)
              {
                  element_rectangle[element_new_name] = element_id;
              }
              else{
                  var key_name = Object.keys(element_rectangle).filter(function(key) {return element_rectangle[key] === element_id})[0];
                  element_rectangle[element_id] = element_id;
              }
               $("#myModal").modal('hide');
              localStorage.setItem("element_rectangle", JSON.stringify(element_rectangle));
              console.log("rectangle = ", element_rectangle);            //console.log(element_new_name);
            }
        });

        $(document.body).on("click", '.rectangle_entry', 
          function(event){
            var element_id = $(this).attr("id");              
            $("#variable_id").val(element_id);
            $('#myModal').modal('show');
          });
        //set variables to local storage
        localStorage.setItem("elements_available", JSON.stringify(elements_available));
        localStorage.setItem("elements_used", JSON.stringify(elements_used));
        localStorage.setItem("element_rectangle", JSON.stringify(element_rectangle));
        localStorage.setItem("boxes_count", boxes_count);
        
        //function to update_elements of dropdown select box
        function update_elements_tables(array_name, id){
            var all_options = "<option value='----'>-----</option> ";            
            $.each(array_name, function(key, value){
              var option_string = "<option value='" + value  + "'>" + value + "</option> " ;
              all_options += option_string ;
            });
            $("#"+ id).html(all_options);
        }

        update_elements_tables(elements_available, "elements_available");
        
        var binding = {};
        $("#elements_available").change(function(){
            /*
                Update all variables and objects if a new object is selected from the 
                elements_available dropdown
            */

            var value = $("#elements_available").val();
            //console.log("value of elements available = ", value);
            elements_used.push(value);
            //console.log("elements available = ", elements_available);
            var index = elements_available.indexOf(value);
            elements_available.splice(index, 1);
            //console.log("elements available = ", elements_available);
            //console.log("elements_used = ", elements_used);
            
            
            /*
            create new rectangle_box. UPdate this function when implementing preview
            functionality. get x, y, height, width from the average of the x, y, height, width
            of that particular element and update the values in the areaOptions
            */
            var areaOptions = {
                x: Math.floor((Math.random() * 200)),
                y: Math.floor((Math.random() * 200)),
                width: Math.floor((Math.random() * 100)) + 50,
                height: Math.floor((Math.random() * 100)) + 20,
            };


            //call the function to initialise the rectangle_box with areaOptions
            $('img#example').selectAreas('add', areaOptions);

            //get the rectangle box count 

            var count_select_areas = localStorage.getItem("boxes_count"); ;
            var rectangle_box_id = 'rectangle_box'+count_select_areas;
            //binding[rectangle_box_id] = value;

            //for the current selection set border color red
            $(".select-areas-outline").css("border", "1px solid black")
            $("#"+rectangle_box_id).css("border","1px solid red");

            //update rectangle_binding, element_rectangle and elements_binding local associative arrays
            console.log("line 145", value, rectangle_box_id);
            element_rectangle[value] = rectangle_box_id;
            

            //update elements_available and elements_used dropdown
            update_elements_tables(elements_available, "elements_available");
            update_elements_tables(elements_used, "elements_used");

            //update local storage variables
            localStorage.setItem("elements_available", JSON.stringify(elements_available));
            localStorage.setItem("elements_used", JSON.stringify(elements_used));
            //localStorage.setItem("elements_binding", JSON.stringify(elements_binding))    ;
            //localStorage.setItem("rectangle_binding", JSON.stringify(rectangle_binding));
            localStorage.setItem("element_rectangle", JSON.stringify(element_rectangle));

            //output the co-ordinates on right hand side 
            output_coordinates();
        });
        $( "#variable_name" ).autocomplete({
          source: elements_available
        });

        
    });
  </script>
{%endblock%}
{%block main_block%}
   <div id="left" class = "col-sm-12 col-md-6 col-xs-12 col-lg-6">
    <section class="parent" style="overflow: hidden; position:relative" id = "focal">
        <div class="panzoom image-decorator" style=" cursor: move; transition: none;">
            <img src="/media/{{document.document}}" id = "example">
        </div>
      <script>
        (function() {
          //function controlling the zoom on the image
          var zoom_level = 0;
          var $section = $('#focal');
          var $panzoom = $section.find('.panzoom').panzoom();
          $panzoom.parent().on('mousewheel.focal', function( e ) {
            e.preventDefault();
            var delta = e.delta || e.originalEvent.wheelDelta;
            var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
            zoom_level += 1;
            $panzoom.panzoom('zoom', zoomOut, {
              increment: 0.1,
              focal: e, 
            });
          });           
        })();
      </script>
    </section>
   </div>
   <div class = "right" class = "col-sm-12 col-md-6 col-xs-12 col-lg-6">
       <select id="elements_available" name="" class = "dropdown form-control" style = "display:none">
       </select>
       <select id="elements_used" name="" class = "dropdown form-control" style = "display:none">
       </select>
       <table class="table table-striped" class = "output" id = "output">
       </table>
       <button type = "button" class = "btn btn-primary" id = "submit">Save Selection</button>
   </div>
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Update Element Name</h4>
        </div>
        <div class="modal-body" style = "height:150px;">
          <input type = "hidden" name = "variable_id" id = "variable_id" class = "form-control">

          <p>
            <label for="variable_name">Enter Category Name:</label>
            <input type = "text" name = "variable_name" id = "variable_name" class = "form-control">
          </p>
          <p>
            <button type = "button"  class = "btn btn-primary col-sm-4" id = "save_element">Update Element Name
            </button>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
   </div>
   
   <script type = "text/javascript">
    $("#submit").click(function(){
        data = {};
        data["csrfmiddlewaretoken"] = "{{csrf_token}}";
        $('.panzoom').animate({
        transform: 'scale(1) rotate(0deg)'
        });
        //var rectangle_binding = JSON.parse(localStorage.getItem("rectangle_binding"));
        var all_outlines = $(".select-areas-outline");
        var image_width = $("#example").width();
        var image_height = $("#example").height();
        var image = $("img#example")[0];
        var image_resolution_x = image.naturalWidth;
        var image_resolution_y = image.naturalHeight;  
        data["image_width"] = image_resolution_x;
        data["image_height"] = image_resolution_y;
        var rectangles = [];          

        for(i =0;i<all_outlines.length;i++)
        {
          var box_id = all_outlines[i].id;
          console.log("box id = ", box_id);
          //rectangles.push(element_rectangle.getKeyFromValue(box_id));
          
          var width  = $("#" + box_id).width() ;
          var height = $("#"+box_id).height();
          var a_x = $("#"+box_id).position().left/image_width;
          var a_y = $("#"+box_id).position().top/image_height;        
          var c_x = ($("#"+box_id).position().left + width)/image_width;
          var c_y = ($("#"+box_id).position().top + height)/image_height;        
          var height_ratio = height/image_height;
          var width_ratio = width/image_width;
          var width  = width/image_width ;
          var height = height/image_height;
          console.log(element_rectangle);
          var key_name = Object.keys(element_rectangle).filter(function(key) {return element_rectangle[key] === box_id+"_entry"})[0];
          rectangles.push(key_name);
          data[key_name] = {"width":width, "height":height,
            "x" : a_x, "y":a_y};
        }
        console.log("rectangles === ", rectangles);
        data["elements"] = rectangles;
        console.log("Element RECT == ", element_rectangle);
        console.log(data);       
        
        data = JSON.stringify(data);
        datam = data;
        $.post(
            window.location["pathname"],
            {
              data: JSON.stringify(data),
              "csrfmiddlewaretoken": "{{csrf_token}}"
            },  
            function(json) {
                
                //CALLBACK
            },
            "json"
        );         
    });
   
   </script>
{%endblock%}
