{%extends "base.html"%}

{%block main_block%}
<h1>
    <center>Upload Document</center>
</h1>
<div class="col-sm-12 col-xs-12 col-md-offset-4 col-lg-offset-4 col-lg-4 col-md-4">
    
</div>
<form class = "form-horizontal col-sm-12 col-md-offset-4 col-lg-4 col-md-offset-4 col-lg-offset-4 col-xs-12" action = "{{request.path}}" method="post" enctype="multipart/form-data" style = "margin-top:50px">
  {%csrf_token%}
  {{form.as_p}}
  <input type = "submit" value = "Upload Document" class = "btn btn-primary col-sm-12"/>
</form>
<script type = "text/javascript">
    $("#id_category").change(function(){
        console.log("change");
        update_template_list();
    });

  $(document).ready(function(){
    update_template_list(fresh=true);

  });
  function update_template_list(fresh=false, template="" ){
     var category = $("#id_category").val();
     console.log("category = "+ category);
     $.get("/get_template/"+ category, function(data){
        if(data["error"] == "true")
        {
           alert(data["message"]);
        }
        else{
           console.log("inside el");
           str = JSON.parse(data["data"]);
           new_rows = "";
           for(i=0; i<str.length; i++)
           {
               new_row_string = '<option value="' + str[i]["fields"]["slug"] + '">' + 
                   str[i]["fields"]["template_name"]+'</option>';
               new_rows += new_row_string;
           }
           $("#id_template").html(new_rows);
           if(fresh!=false)
           {
               var search_query = window.location["search"].split("&")
               var category = "";
               var template_name = "";
               if (search_query.length == 1 && search_query[0] == ""){}
               else{
                category = search_query[0].split("=")[1];
                template_name = search_query[1].split("=")[1];
                console.log(template_name);
               }
               $("#id_category").val(category);
               update_template_list(fresh=false, template=template_name);           
           }
           if(template != "")
           {
              $("#id_template").val(template);
           }
        }
    });
}
</script>
{%endblock%}
